* {
    border: none;
    border-radius: 0;
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: white;
}

#window {
    margin: 5px;
    padding-left: 9;
    padding-right: 9;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 4px;
    /* background: transparent; */
    /* color: white; */
    /* border-bottom: 3px solid transparent; */
}

#workspaces button.focused {
    background: #64727D;
    border-top: 2px solid white;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-top: 2px solid white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode,
#clock {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#power-profiles-daemon {
    padding: 0 20px;
}

#battery {
    background-color: transparent;
    color: white;
    padding: 0 10px;
}

#battery.plugged {
    padding: 0;
}

#battery.full {
    padding: 0;
}

#battery.not-charging {
    padding: 0;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
    padding: 0 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}