[Unit]
Description=Kanata keyboard remapper (system)
Documentation=https://github.com/jtroo/kanata
After=systemd-modules-load.service
Wants=systemd-modules-load.service

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /etc/kanata/kanata.kbd
Restart=on-failure
RestartSec=0.5

[Install]
WantedBy=multi-user.target